<div class="folder-details">
    <h1>Folder Details</h1>

    <div class="details-header">
        <h2><%= folder.name %></h2>
        <div class="folder-actions">
            <a href="/edit-folder/<%= folder.id %>">Edit Folder</a>

            <form action="/delete-folder/<%= folder.id %>" method="POST">
                <button>Delete folder</button>
            </form>
        </div>
    </div>

    <form action="/upload/<%= folder.id %>" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" accept="application/pdf" required>
        <button>Upload</button>
    </form>

    <div>
        <ul>
            <% files.forEach((file) => { %>
                <li><%= file.name %> <%= file.size %> MB</li>
            <% }) %>
        </ul>
    </div>
</div>